/*button{*/
/*    background-color: darkslateblue;*/
/*    color: white;*/
/*    border: 1px;*/
/*    border-radius: 4px;*/
/*    padding: 8px 16px;*/
/*    margin: 4px 2px;*/
/*    cursor: pointer;*/
/*}*/

/*input[type="text"]{*/
/*    width: 30%;*/
/*    border: 2px solid black;*/
/*    border-radius: 4px;*/
/*    padding: 8px 16px;*/
/*}*/

body{
    text-align: center;
    align-items: center;
    background-color: #FFFFFF;
    color: black;
}

/*.resultstable{*/
/*    display: inline-block;*/
/*}*/

h1{
    margin-bottom: 40px;
}

.button-40 {
    background-color: #111827;
    border: 1px solid transparent;
    border-radius: .75rem;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    flex: 0 0 auto;
    font-family: "Inter var",ui-sans-serif,system-ui,-apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    font-size: 1.125rem;
    font-weight: 600;
    line-height: 1.5rem;
    padding: .42rem 0.85rem;
    text-align: center;
    text-decoration: none #6B7280 solid;
    text-decoration-thickness: auto;
    transition-duration: .2s;
    transition-property: background-color,border-color,color,fill,stroke;
    transition-timing-function: cubic-bezier(.4, 0, 0.2, 1);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    width: auto;
}

.button-40:hover {
    background-color: #374151;
}

.button-40:focus {
    box-shadow: none;
    outline: 2px solid transparent;
    outline-offset: 2px;
}

.input-search{
    border-style: none;
    padding: 10px;
    font-size: 18px;
    letter-spacing: 2px;
    outline: none;
    color:black;
    width: 380px;
    border-radius: 16px;
    background-color: #edf0f5;
    border-bottom:1px solid rgba(255,255,255,.5);
    margin-right: 0.5rem;
}
.input-search::placeholder{
    color:black;
    font-size: 18px;
    letter-spacing: 2px;
    font-weight: 100;
}
.input-search:focus{
    width: 430px;
    background-color: #d9dbde;
    border-bottom:1px solid rgba(255,255,255,.5);
    transition: all 500ms cubic-bezier(0, 0.110, 0.35, 2);
}


.table-fill {
    background: white;
    border-radius:3px;
    border-collapse: collapse;
    height: 320px;
    margin: auto;
    max-width: 1200px;
    margin-top: 50px;
    padding:1px;
    width: 100%;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    animation: float 5s infinite;
    align-items: center;
}

th {
    color:#D5DDE5;;
    background:#1b1e24;
    border-bottom:3px solid #9ea7af;
    border-right: 1px solid #343a45;
    font-size:19px;
    font-weight: 100;
    padding:9px;
    text-align:left;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    vertical-align:middle;
}

th:first-child {
    border-top-left-radius:3px;
}

th:last-child {
    border-top-right-radius:3px;
    border-right:none;
}

tr {
    border-top: 1px solid #C1C3D1;
    border-bottom-: 1px solid #C1C3D1;
    color:#202124;
    font-size:16px;
    font-weight:normal;
    text-shadow: 0 1px 1px rgba(256, 256, 256, 0.1);
}

tr:hover td {
    background:#adafb3;
    color:#FFFFFF;
    border-top: 1px solid #adafb3;
}

tr:first-child {
    border-top:none;
}

tr:last-child {
    border-bottom:none;
}

tr:last-child td:first-child {
    border-bottom-left-radius:3px;
}

tr:last-child td:last-child {
    border-bottom-right-radius:3px;
}

td {
    background:#FFFFFF;
    padding:9px;
    text-align:left;
    vertical-align:middle;
    font-weight:400;
    font-size:18px;
    text-shadow: -1px -1px 1px rgba(0, 0, 0, 0.1);
    border-right: 1px solid #C1C3D1;
}

td:last-child {
    border-right: 0px;
}

th.text-left {
    text-align: left;
}

th.text-center {
    text-align: center;
}

th.text-right {
    text-align: right;
}

td.text-left {
    text-align: left;
}

td.text-center {
    text-align: center;
}

td.text-right {
    text-align: right;
}